/*start*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.header-up{
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 1;
	border: 0.5px solid #A9A9A9;
}
	.header-up div, .header-up ul{
		float: left;
	}
	.header-in-logo{
		width: 19%;
		height: 50px;
		padding-left: 10px;
	}
		.header-inlogo div{
			float: left;
		}
		.logo1{
			width: 18%;
			padding-top: 15px;
			padding-left: 10px;
		}
		.logo2{
			width: 82%;
		}
		
		.header-in-logo i{
			cursor: pointer;
			color: #A9A9A9;
			margin-bottom: 30PX;
		}
		.header-in-logo img{
			max-width:72%;


		}
	.header-in-search{
		width: 60%;
		height: 50px;
	}

		.header-in-search input{
			padding-left: 10px;
			width: 80%;
			height: 25px;
			margin-top: 10px;
			margin-bottom: 40px;
			float: left;
		}
			.header-in-search button{
			color: #A9A9A9;
			width: 10%;
			height: 25px;
			margin-top: 10px;
			margin-bottom: 40px;
			cursor: pointer;
			}
	.header-in-userbar{
		width: 21%;
		height: 50px;
		padding-top: 15px;
		padding-left: 10px;
		list-style-type: none;

	}
		.header-in-userbar li {
			display: inline;
			position: relative;
		}

		.header-in-userbar i{
			color: #A9A9A9;
			cursor: pointer;
			padding-left: 20px;
		}
		.header-in-userbar em{
			display: none;
			position: absolute;
			top: 26px;
			background: orange;
			padding: 5px;
			border: 0.5px solid #fff
			left: -10px;
			width: 90px;
		}

	/*end*/

/*start*/
.left-menu{
	width: 19%;
	height: 800px;
	float: left;
	position: fixed;
	z-index: 0;
	margin-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.left-menu.hide {
	display: none;
}
	.left-menu-div ul{
		list-style: none;
		cursor: pointer;
	}
		.left-menu-div ul li{
			width: 100%;
			padding: 10px;
			margin left: 10px;
			padding-right: 10px;
			color: 	#A9A9A9;
		}	
.left-menu-div h2{
	font-size: 16px;
	color: gray;
	cursor: pointer;

}
/*end*/
.main-block{
	width: 81%;
	background: #EDEDED;
	float: left;
	margin-left: 19%;
	margin-top: 50px;
	padding-bottom: 50px;
}

.main-block.full {
	width: 100%;
	margin-left: 0;
}
.main-in-block{
	width: 95%;
	height: 800px;
	background: white;
	margin-top: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);

}
.main-in-block h1{
	font-size: 16px;
	padding: 10px;
	float: right;
}
.time {
	float: left;
	font-size: 16px;
	padding: 10px;
}
.description {
	display: none;
}
.description.open {
	display: block;
}
footer{
	width: 81%;
	height: 150px;
	background: white;
	float: left;
	margin-left: 19%;
}